*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
}

.register{
    width: 400px;
    height: 500px;
    border: 5px solid white;
    border-radius: 10px;
    background-color: white;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}


.register input{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border-color: #e3e3e3;
    outline: none;
}


.button{
    background-color: blue;
    color: white;
    cursor: pointer;
}

.register a{
    color: blue;
}

.fb{
    color: white;
    background-color: blue;
    width: 350px;
    font-size: 15px;
    border: 5px solid blue;
    border-radius: 10px;
    margin-left: 18px;
    margin-bottom: 18px;
    cursor: pointer;
}

.fb span{
    text-align: center;
    display: flex;
    padding: 5px;
}

.fa-brands{
    padding-right: 100px;
    font-size: 20px;
}

.google{
    width: 350px;
    color: black;
    background-color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid #e3e3e3;
    border-radius: 10px;
    margin-left: 18px;
    cursor: pointer;
}


.google span{
    text-align: center;
    display: flex;
    padding: 5px;
}

.fa-google{
    padding-right: 100px;
    font-size: 20px;
}
